<footer>
    <div class="flex flex-col items-center mt-2 mb-2">
        <div class="text-gray-1">©2008-{{ utilvars['curr_year'] }} all rights reserved . coded with &#9829;</div>
    </div>
</footer>