<div id="header">
    <div id="logo"><a href="/">M</a></div>
    <div id="nav">
        <ul>
            <li><a href="/">root</a></li>
            <li><a href="/posts">thoughts</a></li>
            <li><a href="/git">git</a></li>
            <li><a href="/about">about</a></li>
        </ul>
    </div>
</div>
{# <div id="wip"><strong>Back online 08/04/2021 | website/CMS in HEAVY development | content revival from old DB in progress</strong></div> #}