/* @import url("./dark.css"); */

@font-face {
    font-family: 'Rec Mono Linear';
    src: url('/static/fonts/RecMonoLinear.woff2') format('woff2'),
         url('/static/fonts/RecMonoLinear.ttf')  format('truetype');
}
@font-face {
    font-family: 'Playfair Display';
    src: url('/static/fonts/PlayfairDisplay.woff2') format('woff2'),
         url('/static/fonts/PlayfairDisplay.ttf')  format('truetype');
}

/*
GENERAL
*/

:root,
:root.light {
    --color-text: #56544b;
    --color-bg: #f6f3ed;
    --color-bg-z: #f6f3ede6;
    --color-link: #1d2a32;
    --color-hover: #f4efe0;
    --color-control: #316d7c;
    --color-control-z: #316d7ce6;
    --color-text-hover: black;
    --color-highlight: #e96c4c;
    /* --font-family: Open Sans, Helvetica Neue, Segoe UI, Ubuntu, sans-serif; */
    color-scheme: light;
}
:root.dark {
    --color-text: #53a1b3;
    --color-bg: #141e24;
    --color-bg-z: #141e24e6;
    --color-link: #77c1d1;
    --color-hover: #193945;
    --color-control: #316d7c;
    --color-control-z: #316d7ce6;
    --color-text-hover: white;
    --color-highlight: #e96c4c;
    /* --font-family: Open Sans, Helvetica Neue, Segoe UI, Ubuntu, sans-serif; */
    color-scheme: dark;
}



body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: var(--color-bg);
    color: var(--color-text);
    font: 16px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    align-items: center;
}

a,
a:visited {
    color: var(--color-link);
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: var(--color-text-hover);
}

p {
    margin: .5em 0;
    text-align: justify;
}

hr {
    opacity: 0;
}

ul {
    padding: 0;
    list-style: none;
}
img {
    width: 100%;
}
code {
    padding: .1em;
    border-radius: .1em;
    font: .8em "Rec Mono Linear", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
               "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
               "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
p code {
    color: #f5d56a;
}
pre {
    padding: .7em 2%;
    color: var(--color-text-hover);
    background-color: var(--color-hover);
    border-radius: .3em;
    margin: 1em 0 1em 2%;
    /* width: fit-content; */
    max-width: 92%;
    /* min-width: 50%; */
    border-left: 5px solid var(--color-highlight);
    overflow-x: hidden;
    box-shadow: 1px 2px 5px #1e2229;
    white-space: pre-wrap;
}
pre:hover, pre:focus {
    width: 100%;
    white-space: pre-wrap;
}

pre code {
    padding: initial;
    background-color: initial;
    border-radius: initial;
}

h1 {
    margin: 1em 0 .3em;
    color: var(--color-highlight);
}

h2,
h3,
h4,
h5 {
    color: var(--color-text);
}

.flex-ltr {
    display: flex;
    flex-direction: row;
}
.flex-rtl {
    display: flex;
    flex-direction: row-reverse;
}
.flex-utd {
    display: flex;
    flex-direction: column;
}

.msgbox {
    position: fixed;
    padding: .3em;
    border-radius: .3em;
    font-weight: bold;
    color: var(--color-bg);
    background-color: var(--color-highlight);
}

.toggleshow {
    color: var(--color-highlight);
    font-weight: bold;
    cursor: pointer;
}

/*
HEADER
*/
#header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--color-bg-z);
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    font-size: 1.5em;
    transition: font-size .05s linear;
}
    #logo {
        display: none;
    }
    #logo a {
        display: flex;
        align-items: center;
    }
    img#logoamn {
        height: 1.5em;
        margin-right: .5em;
    }
    #nav {
        padding: .8em 0;
    }
    #nav ul {
        display: flex;
        margin: 0;
        padding: 0;
    }
    #nav li {
        padding: 0 .5em;
    }
    svg#themeSwitch {
        height: 36px;
        cursor: pointer;
    }
    svg#themeSwitch path {
        fill: var(--color-highlight);
    }
    .glow {
        margin: 0 auto;
        text-align: center;

        height: 120px;
        width: 120px;
        
        -webkit-animation-name: flicker;
                animation-name: flicker;
        -webkit-animation-duration: 15s;
                animation-duration: 15s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;     
      }
      
    @keyframes flicker {
        from { opacity: .50; }
        4%   { opacity: .70; }
        8%   { opacity: .45; }
        12%  { opacity: .65; }
        16%  { opacity: .30; }
        20%  { opacity: .50; }
        24%  { opacity: .60; }
        28%  { opacity: .25; }
        32%  { opacity: .30; }
        36%  { opacity: .55; }
        40%  { opacity: .40; }
        44%  { opacity: .60; }
        48%  { opacity: .35; }
        52%  { opacity: .20; }
        56%  { opacity: .70; }
        60%  { opacity: .50; }
        64%  { opacity: .65; }
        68%  { opacity: .35; }
        72%  { opacity: .50; }
        76%  { opacity: .40; }
        80%  { opacity: .65; }
        84%  { opacity: .40; }
        88%  { opacity: .35; }
        92%  { opacity: .60; }
        96%  { opacity: .30; }
        to   { opacity: .50; }
      }

#wip {
    width: 100%;
    padding: .5em 0;
    color:var(--color-bg);
    background-color: var(--color-highlight);
    text-align: center;
}



/*
CONTENT
*/
#content {
    margin-top: .5em;
    max-width: 40em;
    font-size: 1.3em;
}

    /*
    ROOT
    */
    #title {
        margin: 0 0 .2em;
        font-size: 2.5em;
        text-align: left;
        background-color: #F67280;
        background-image: linear-gradient(45deg,
                                        #F8B195 0 15%,
                                        #F67280 15% 30%,
                                        #C06C84 30% 40%,
                                        #6C5B7B 40% 50%,
                                        #355C7D 50% 100%);
        background-position: -18em 0;
        background-size: 100%;
        background-repeat: repeat;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
        animation: text_anim 1s ease forwards;
    }
    @keyframes text_anim {
        0% { background-size: 900%; }
        100% { background-size: 100%;background-position: 0 0; }
    }
    #title:hover,
    #title:active,
    #title:focus {
        animation: text_anim_hover 1s ease forwards;
    }
    @keyframes text_anim_hover {
        0% { background-position: 0 0; }
        100% { background-position: -18em 0; background-size: 900%; }
    }
    span.blue { color:#61afee; }
    span.orange { color:#d19a5e; }
    span.red { color:#e06660; }
    #presentation {
        margin: 0 0 2em 0;
        font-size: 1.3em;
    }
    #latestposts a {
        padding: 1em;
        display: list-item;
    }
    #latestposts a:hover {
        background-color: var(--color-hover);
    }
    #latestposts time {
        font-weight: lighter;
    }





    /*
    POSTS LIST
    */
    #categories {
        margin-bottom: 1em;
    }
        #categories li {
            display: inline-flex;
            margin: .2em;
            padding: 0 .3em 0.1em;
            border-radius: 5px;
            color: var(--color-bg);
            background-color: var(--color-text);
            cursor: pointer;
        }
    h2.titleyear {
        margin-bottom: 0;
        opacity: .3;
    }
    .postlist {
        margin: 0;
    }

    /*
    POST
    */
    #metadata {
        margin-top: .7em;
        font-size: .7em;
        color: var(--color-control);
    }
    #metadata p {
        text-align: left;
    }
    #metadata p:hover {
        color: var(--color-text-hover);
    }
    #post {
        margin: 2em 0;
    }
    p.cust_image {
        display: flex;
        flex-direction: row;
        margin: 0;
        align-items: center;
        justify-content: center;
    }
    #post ul {
        all: unset;
        list-style-type: circle;
        list-style-position: inside;
        text-align: justify;
    }
    #post li {
        margin: 0 0 1em .5em;
    }
    .postitle {
        margin: 0;
        font-size: 2.5em;
        font-family: "Playfair Display", serif;
        text-align: left;
    }

    .datestamp { opacity: .3;
        text-align: right;
    }

    #comments {
        width: 100%;
    }
        #comment_form {
            overflow: hidden;
            transition: height .3s linear;
        }
        h2#comtitle {
            opacity: .3;
        }
        .com {
            margin: 2em 0;
        }
        .cometa {
            font-weight: bold;
            margin: auto .2em;
            min-width: 15%;
            max-width: 20%;
            overflow: hidden;
            word-break: break-all;
        }
        .comment {
            margin: 0;
            padding: .8em;
            background-image: linear-gradient(var(--color-control), var(--color-control-z));
            border-radius: .6em;
            box-shadow: 1px 2px 5px #1e2229;
            word-break: break-all;
        }

        .input {
            margin: .5em;
            padding: .3em;
            border: none;
            color: var(--color-bg);
            background-color: var(--color-control);
            border-radius: .3em;
            width: 95%;
            max-width: 15em;
            font: 1em -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen-Sans",
            "Ubuntu","Cantarell","Helvetica Neue",sans-serif;
        }
        .input:active,
        .input:focus {
            box-shadow: 1px 1px 5px #2c7abb;
        }
        textarea.input {
            height: 6em;
            max-height: 30em;
            max-width: 95%;
            resize: none;
        }
        .submit {
            margin: .5em;
            padding: .3em;
            border: none;
            height: 2.5em;
            width: 8em;
            border-radius: .3em;
            font-size: 1.1em;
            font-weight: bold;
            color: var(--color-bg);
            background-color: var(--color-highlight);
            box-shadow: 0px 2px 5px #1e2229;
            cursor: pointer;
        }
        .submit:hover {
            background-color: var(--color-text-hover);
            box-shadow: 0px 5px 10px #1e2229;
        }

    #translation {
        position: fixed;
        bottom: 10%;
        right: 5%;
        opacity: .5;
    }
        #translation img {
            width: initial;
        }

    #like {
        position: fixed;
        bottom: 5%;
        right: 3.5%;
    }
        #like a {
            font-size: 1.2em;
            color: var(--color-highlight);
        }
        #like a:hover {
            background-color: initial;
        }
        #likecounter {
            font-size: .7em;
        }



/*
FOOTER
*/
#footer {
    margin: 2em 0 .2em;
    opacity: .3;
}



/*
ABOUT
*/
#photo {
    height: 160px;
    width: 160px;
    margin: 1em 1em 1em 0;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    float: left;
}
    #photo img {
        height: 100%;
    }

#cvdesc {
    overflow: hidden;
    transition: height .3s linear;
}


/*
ERROR
*/
#error {
    margin-bottom: 5em;
}
    #error h1 {
        font-size: 3em;
        text-align: center;
    }
    #errordesc {
        font-size: 2em;
        text-align: center;
    }
    #erroralts {
        margin: 2em 0;
    }



/* Mobile responsiveness */
@media screen and (max-width: 600px) {
    #logo { display: none; }
    #wip { display: none; }
    #title { font-size: 18vw; }
    #presentation {
        font-size: 4.4vw;
    }
    pre {
        width: 100%;
        white-space: pre-wrap;
    }
    .input {
        max-width: none;    }
}