{% set title = 'about : marzin.org' %}

{% extends 'layouts/default.j2' %}
{% block content %}
		<div id="about">
			<div id="photo"><img src="static/antoine.jpg"></div>
			<p>Hi, I'm Antoine, and three of the main things I love in this lower world are programming languages, discovering different cultures and people, and.. christian hack-and-slash trading :).</p>
			<p>I currently work as an IT project manager for the french public sector, and like to throw some code lines on my free time.</p>
			<p>Feel free to contact me @<a href="https://www.linkedin.com/in/marzin/">Linkedin</a>.</p>
			<p>This website is a simple Markdown CMS I wrote in Python, running alongside <a href="https://flask.palletsprojects.com">Flask</a> framework. The source code is published on my <a href="https://github.com/hotrooibos/mdCMS">github repository</a> under MIT license.</p>
			<p>No cookie used. FLoC-free web server. Hosted in France.</p>
		</div>
		<hr />
		<div id="cv">
			<p class="toggleshow">Curriculum vitae &#129134;</p>
			<div id="cvdesc">
				<ul>
					<li><strong>2021-2023 - IT office coordinator</strong></li>
					<li><strong>@ Chief of the defence staff dpt.</strong></li>
					<li>- Coordinate and planing the activities of tech teams in a defence IT support center
					<li>- Datacenter team, sysadmins, hypervisors admins for both protected (non-classified) and classified defence systems</li>
					<li>- Project management and technical consulting for internal clients
				</ul>

				<ul>
					<li><strong>2019-2021 - French navy GPDR consultant</strong></li>
					<li><strong>@ Chief of the navy's staff dpt.</strong></li>
					<li>- Representative of navy's controller</li>
					<li>- Head of the team in charge of studies and data protection impact assessment</li>
					<li>- GPDR compliance for the navy's information systems</li>
					<li>- Building the GPDR compliance process for the navy and the ministry</li>
					<li>- GPDR technico-legal expertise</li>
				</ul>

				<ul>
					<li><strong>2015-2019 - HR information systems project manager</strong></li>
					<li><strong>@ Navy human resources directorate</strong></li>
					<li>- HRIS projects manager</li>
					<li>- IT & RH technico-functional expertise</li>
					<li>- Analyst developers, sysadmins and CISO manager</li>
				</ul>

				<ul>
					<li><strong>2013-2014 - SAP ABAP analyst & developer</strong></li>
					<li><strong>@ Navy human resources directorate</strong></li>
					<li>- Analyzing client/HR functional needs
					<li>- Writing technical functional specifications
					<li>- Programming and testing solutions in SAP HR ERP context</li>
				</ul>

				<ul>
					<li><strong>2011-2013 - French navy SSN attack submarine squadron</strong></li>
					<li>- Silent service</li>
					<li>- IT cell</li>
				</ul>
			</div>
		</div>
{% endblock %}