{% extends 'layouts/default.j2' %}
{% block content %}
	<h1 id="title">Hi, I'm Antoine</h1>
	<ul id="presentation">
		<li><span class="blue">printf</span> ("I love building <span class="orange">%s</span>", <span class="red">softwares</span>) ;</li>
		<li><a href="https://news.ycombinator.com">hackernews</a> is my learning partner ;</li>
		<li>I work as a project manager and software engineer ;</li>
		<li>Feel free to contact me @<a href="https://www.linkedin.com/in/marzin/">Linkedin</a> ;</li>
	</ul>
	<hr>
	<h2>Latest posts</h2>
	<ul id="latest_posts">
	{% for p in posts %}
	{% if loop.index < 11 %}
	<li>
		<a class="tile" href="{{ url_for('post', url=p.url) }}">
		{% if p.preview %}
		<span class="tile_preview"><img src="{{ p.preview }}" /></span>
		{% else %}
		<span class="tile_preview"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 0 .5Zm0 2A.5.5 0 0 1 .5 2h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm9 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm-9 2A.5.5 0 0 1 .5 4h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm5 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm7 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm-12 2A.5.5 0 0 1 .5 6h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5Zm8 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm-8 2A.5.5 0 0 1 .5 8h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm7 0a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm-7 2a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Z"/></svg></span>
		{% endif %}
		<span class="tile_title">{{ p.title }}</span>
		<span class="tile_date"><time>{{ p.ctime }}</time></span>
		</a>
	</li>
	{% endif %}
	{% endfor %}
	</ul>
{% endblock %}