{% extends 'layouts/default.j2' %}
{% block content %}
	<p>Hi I'm Antoine, welcome to my website. I'm always exploring IT ideas about projects that could make people's live more private and secure. Besides that, I...</p>
	<ul>
		<li>like to learn languages, I speak some french, python, english, js, spanish... ;</li>
		<li>do care a lot about freedom ;</li>
		<li>love to discover cultures with a backpack ;</li>
		<li><span class="blue">printf</span> ("think building <span class="orange">%s</span>", <span class="red">softwares</span>) is a form of art ;</li>
		<li>spend too much time automating, optimizing and min-maxing things ;</li>
		<li>learn every days on <a href="https://news.ycombinator.com">hackernews</a> ;</li>
	</ul>
	<hr>
	<h2>Latest posts</h2>
	<ul id="latest_posts">
	{% for p in posts %}
	{% if loop.index < 6 %}
	<li>
		<a class="tile" href="{{ url_for('post', url=p.url) }}">
		{% if p.preview %}
		<span class="tile_preview"><img src="{{ p.preview }}" /></span>
		{% else %}
		<span class="tile_preview"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 0 .5Zm0 2A.5.5 0 0 1 .5 2h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm9 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm-9 2A.5.5 0 0 1 .5 4h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm5 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm7 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm-12 2A.5.5 0 0 1 .5 6h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5Zm8 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm-8 2A.5.5 0 0 1 .5 8h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm7 0a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm-7 2a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Z"/></svg></span>
		{% endif %}
		<span class="tile_title">{{ p.title }}</span>
		<span class="tile_date"><time>{{ p.ctime }}</time></span>
		</a>
	</li>
	{% endif %}
	{% if posts|length > 5 %}
		<li><a class="tile" href="/posts">more...</a></li>
	{% endif %}
	{% endfor %}
	</ul>
{% endblock %}