{% set title = post.title + ' : marzin.org' %}

{% extends 'layouts/default.j2' %}
{% block content %}
	<div id="post">
		<h1 class="postitle">{{ post.title }}</h1>
		<hr>
		<div id="metadata" class="text-gray-1 hover:text-black">
			<p><time>{{ post.ctime }}</time> by {{ post.author }} - categories : {% for cat in post.cat %}{{ cat }} {% endfor %}</p>
		</div>
			{{ post.content|safe }}
		<hr>
	</div>

	<div id="comments">
		{% include 'layouts/partials/_comments.j2' %}
	</div>

	{% if transl|length > 0 %}
	<span id="translation">
		{% for t in transl %}
		<a href="{{ url_for('post', url=t.url) }}">
			<img src="{{ url_for('static', filename=t.lang + '.svg') }}" alt="{{ t.lang }}" title="Read in {{ t.lang }}" width="30" height="20"> 
		</a>
		{% endfor %}
	</span>
	{% endif %}
	<div id="like"><a href="javascript:void(0)">&#10084; <span id="likecounter">{{ likecounter }}</span></a></div>
{% endblock %}