{% set title = 'posts : marzin.org' %}

{% extends 'layouts/default.j2' %}
{% block content %}

<p>{{ posts|length }} post{% if posts|length > 1 %}s{% endif %}</p>

<div id="categories">
	<ul id="catlist">
		<li style="color:#54c9b9">All</li>
	</ul>
</div>

{% for year in posts|groupby('cyear')|reverse %}
		<h2 class="titleyear">{{ year.grouper }}</h2>
		<ul class="postlist">
		{% for p in year.list %}
			<li data-categories="{% for cat in p.cat %}{{ cat }}{% if not loop.last %} {% endif %}{% endfor %}"><a href="{{ url_for('post', url=p.url) }}">{{ p.title }}</a></li>
		{% endfor %}
		</ul>
{% endfor %}
{% endblock %}