{% extends 'layouts/default.j2' %}}
{% block content %}
	<p>Hello, my name's Antoine and two of the main things I love in this lower world are programming languages and christian hack and slash trading.<br>I hope one day I'll have time for both.</p>
	<p>My <a href="https://www.linkedin.com/in/marzin/">Linkedin</a> may surprise you.</p>
	<p>This website is a simple self-made Markdown/JSON CMS running on top of <a href="https://flask.palletsprojects.com">Flask</a> Python framework and Debian Linux.</p>
	<p>Hosted at OVH.</p>
	<img class="logo" src="static/deblogo.svg">
	<img class="logo" src="static/pylogo.svg">
	<img class="logo" src="static/flasklogo.svg">
{% endblock %}