{% extends 'layouts/default.j2' %}}
{% block content %}
<ul>
{% for pid in posts %}
	<li><a href="{{ url_for('post', id=pid) }}">{{ posts[pid].title }}</a> le {{ posts[pid].dateupd }}</li>
{% endfor %}
</ul>
{% endblock %}