{% extends 'layouts/default.j2' %}}
{% block content %}
	<p>{{ posts|length }} posts publiés</p>
	{% for pid in posts %}
	<hr>
	
	<h1><a href="{{ url_for('post', id=pid) }}">(#{{ pid }}) {{ posts[pid].title }}</a></h1>
	<p>Créé le: {{ posts[pid].datecr }} / Modifié le : {{ posts[pid].dateupd }}</p>
	<p>Auteur: {{ posts[pid].author }}</p>
	{{ posts[pid].content|safe }}
	{% endfor %}
{% endblock %}