<div id="header">
    <div id="logo"><a href="/"><img id="logoamn" class="logo" src="{{ url_for('static', filename='logo.svg') }}"></a></div>
    <div id="nav">
        <ul>
            <li><a href="/">root</a></li>
            <li><a href="/posts">posts</a></li>
            <li><a href="/git">git</a></li>
            <li><a href="/about">about</a></li>
        </ul>
    </div>
</div>
<div id="wip"><strong>Online from 2021-03-28</strong>... content revival from my old database AND website/CMS development are still in progress</div>
