<div id="header">
    <div id="logo"><a href="/"><img id="logoamn" class="logo" src="{{ url_for('static', filename='logo.svg') }}"></a></div>
    <div id="nav">
        <ul>
            <li><a href="/">root</a></li>
            <li><a href="/posts">posts</a></li>
            <li><a href="/git">git</a></li>
            <li><a href="/about">about</a></li>
        </ul>
    </div>
</div>
<div id="wip"><strong>Back online 08/04/2021 | website/CMS in HEAVY development | content revival from old DB in progress</strong></div>
