{% extends 'layouts/default.j2' %}
{% block content %}
		<div id="about">
			<div id="photo"><img src="static/antoine.jpg"></div>
			<p>Hello, my name is Antoine, I live in France and two of the main things I love in this lower world are programming languages and christian hack-and-slash trading.</p>
			<p>I hope I'll ever have enough time for doing both.</p>
			<p>I'm a full stack developer. I used several languages and am now focused on Python and Javascript. I'm may take a look at Golang anytime soon.</p>
			<p>Feel free to contact me @<a href="https://www.linkedin.com/in/marzin/">Linkedin</a>.</p>
			<p>This website is a self-made simple Markdown Python CMS running alongside <a href="https://flask.palletsprojects.com">Flask</a> framework. The source code can be downloaded on my <a href="https://github.com/hotrooibos/mdCMS">github repo</a>.</p>
			<p>I opted out of Google FLoC network at the Nginx level for this site. No cookies used. Hosted in France by OVH.</p>
		</div>
{% endblock %}