{% extends 'layouts/default.j2' %}}
{% block content %}
	<div id="antoine"><img src="static/antoine.jpg"></div>
	<p>Hello, my name's Antoine and two of the main things I love in this lower world are programming languages and christian hack and slash trading.<br>I hope one day I'll have enough time for both.</p>
	<p>Contact me @<a href="https://www.linkedin.com/in/marzin/">Linkedin</a>.</p>
	<p>This website is a simple self-made Markdown/JSON <a href="https://github.com/hotrooibos/mdCMS">CMS</a> running alongside <a href="https://flask.palletsprojects.com">Flask</a> Python framework.</p>
	<p>Hosted at OVH.</p>
{% endblock %}