{% set title = 'about : marzin.org' %}

{% extends 'layouts/default.j2' %}
{% block content %}
		<div id="about">
			<div id="photo"><img src="static/antoine.jpg"></div>
			<p>Hi, I'm Antoine, and three of the main things I love in this lower world are programming languages, discovering different cultures and people, and.. christian hack-and-slash trading :).</p>
			<p>I currently work as an IT project manager for the french public sector, and like to throw some code lines on my free time.</p>
			<p>Feel free to contact me @<a href="https://www.linkedin.com/in/marzin/">Linkedin</a>.</p>
			<p>This website is a simple Markdown CMS I wrote in Python, running alongside <a href="https://flask.palletsprojects.com">Flask</a> framework. The source code is published on my <a href="https://github.com/hotrooibos/mdCMS">github repository</a> under MIT license.</p>
			<p>No cookie used. FLoC-free web server. Hosted in France.</p>
		</div>
{% endblock %}