{% extends 'layouts/default.j2' %}
{% block content %}
	{% for p in posts %}
	<div class='post'>
		<h1 class="postitle"><a href="{{ url_for('post', url=p.url) }}">{{ p.title }}</a></h1>
		{{ p.content|safe }}
		<p class="datestamp">Le <time>{{ p.ctime }}</time></p>
	</div>
	{% endfor %}
{% endblock %}