{% extends 'layouts/default.j2' %}
{% block content %}
	{% for pid in posts %}
	<div class='post'>
		<h1 class="postitle"><a href="{{ url_for('post', url=posts[pid].url) }}">{{ posts[pid].title }}</a></h1>
		{{ posts[pid].content|safe }}
		<p class="datestamp">Le <span class="date">{{ posts[pid].datecr }}</span></p>
	</div>
	{% endfor %}
{% endblock %}