{% extends 'layouts/default.j2' %}}
{% block content %}
	{% for pid in posts %}
	<div class='post'>
		<h1><a href="{{ url_for('post', id=pid) }}">{{ posts[pid].title }}</a></h1>
		{{ posts[pid].content|safe }}
		<p>Le {{ posts[pid].datecr }}</p>
	</div>
	{% endfor %}
{% endblock %}