{% extends 'layouts/default.j2' %}
{% block content %}
	<h1 id="title">Hi, I'm Antoine</h1>
	<ul id="presentation">
		<li><span class="blue">printf</span> ("I love building <span class="orange">%s</span>", <span class="red">softwares</span>) ;</li>
		<li><a href="https://news.ycombinator.com">hackernews</a> is my learning partner ;</li>
		<li>I work as a software engineer & GPDR consultant ;</li>
		<li>Feel free to contact me @<a href="https://www.linkedin.com/in/marzin/">Linkedin</a> ;</li>
	</ul>
	<hr>
	<h2>Latest posts</h2>
	<ul>
	{% for p in posts %}
	{% if loop.index < 6 %}
	<li><a href="{{ url_for('post', url=p.url) }}">{{ p.title }}</a></li>
	{% endif %}
	{% endfor %}
	</ul>
{% endblock %}