{% extends 'layouts/default.j2' %}}
{% block content %}
	<h1 class="postitle">{{ post.title }}</h1>
	<hr>
	{{ post.content|safe }}
	<hr>
	<p class="postdate">Le {{ post.datecr }} (update {{ post.dateup }})</p>
{% endblock %}