{% extends 'layouts/default.j2' %}}
{% block content %}
<p>{{ posts|length }} posts publiés</p>
<ul>
{% for pid in posts %}
	<li><a href="{{ url_for('post', url=posts[pid].url) }}">{{ posts[pid].title }}</a> . <span class="date">{{ posts[pid].datecr }}</span></li>
{% endfor %}
</ul>
{% endblock %}