{% extends 'layouts/default.j2' %}}
{% block content %}
<p>{{ posts|length }} posts publiés</p>
<ul>
{% for pid in posts %}
	<li><a href="{{ url_for('post', id=pid) }}">{{ posts[pid].title }}</a> créé le {{ posts[pid].datecr }}</li>
{% endfor %}
</ul>
{% endblock %}